<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scuhmz.device.dao.InterphoneMapper">
  <resultMap id="BaseResultMap" type="com.scuhmz.device.model.Interphone">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="manufactor" jdbcType="VARCHAR" property="manufactor" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="use_desc" jdbcType="VARCHAR" property="useDesc" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="security_num" jdbcType="VARCHAR" property="securityNum" />
    <result column="machine_num" jdbcType="VARCHAR" property="machineNum" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="install_site" jdbcType="VARCHAR" property="installSite" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="usefor" jdbcType="VARCHAR" property="usefor" />
  </resultMap>
</mapper>